<header class="header-area transparent-header">
    <div class="top-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7">
                    <!-- Написать создателей -->
                </div>
                <div class="col-lg-5">
                    <div class="top-right d-flex align-items-center justify-content-lg-end">
                        <span class="text"><i class="far fa-envelope"></i>Subscribe & Get 10% Off</span>
                        <ul class="social-link">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=== Header Navigation ===-->
    <div class="header-navigation navigation-one">
        <div class="nav-overlay"></div>
        <div class="container-fluid">
            <!--=== Primary Menu ===-->
            <div class="primary-menu">
                <!--=== Site Branding ===-->
                <div class="site-branding">
                    <a href="index.html" class="brand-logo"><img src="assets/images/logo/logo-white.png" alt="Site Logo"></a>
                </div>
                <!--=== Nav Inner Menu ===-->
                <div class="nav-inner-menu">
                    <div class="nav-menu">
                        <!--=== Mobile Logo ===-->
                        <div class="mobile-logo mb-30 d-block d-xl-none text-center">
                            <a href="index.html" class="brand-logo"><img src="assets/images/logo/logo-black.png" alt="Site Logo"></a>
                        </div>
                        <!--=== Main Menu ===-->
                        <nav class="main-menu">
                            <ul>
                                <li class="menu-item has-children">
                                    <a href="#">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Home Restaurant</a></li>
                                        <li><a href="index-2.html">Home Fastfood</a></li>
                                        <li><a href="index-3.html">Home Seafood</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="#">Menu</a>
                                    <ul class="sub-menu">
                                        <li><a href="menu-fastfood.html">Menu Fastfood</a></li>
                                        <li><a href="menu-seafood.html">Menu Seafood</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item"><a href="about.html">About</a></li>
                                <li class="menu-item has-children">
                                    <a href="#">Shop</a>
                                    <ul class="sub-menu">
                                        <li><a href="products.html">Our Products</a></li>
                                        <li><a href="product-details.html">Product Details</a></li>
                                        <li><a href="cart.html">Sopping Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-standard.html">Blog Standard</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="gallery.html">Our Gallery</a></li>
                                        <li><a href="chefs.html">Our Chefs</a></li>
                                        <li><a href="history.html">Our History</a></li>
                                        <li><a href="reservations.html">Reservations</a></li>
                                        <li><a href="404.html">404</a></li>
                                        <li><a href="faq.html">Faq</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!--=== Nav Button ===-->
                        <div class="menu-button mt-40 d-xl-none">
                            <a href="contact.html" class="main-btn btn-red">Book a Table<i class="fas fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    <!--=== Nav right Item ===-->
                    <div class="nav-right-item d-flex align-items-center">
                        <div class="search-button">
                            <div class="search-btn" data-bs-toggle="modal" data-bs-target="#search-modal"><i class="fas fa-search"></i></div>
                        </div>
                        <!-- Кнопка-триггер модального окна -->
                        <button type="button" class="main-btn btn-red" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Registration
                        </button>

                        <!-- Модальное окно -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color:#DF3F00;">
                                        <h5 class="modal-title" id="staticBackdropLabel">Registration</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">User Name:</label>
                                                <input type="user" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="background-color:#FDF5F2;">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Email address:</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="background-color:#FDF5F2;">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">Password:</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1" style="background-color:#FDF5F2;">
                                                <div id="emailHelp" class="form-text">We'll never share your pass with anyone else.</div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">Confirm Password:</label>
                                                <input type="password_re" class="form-control" id="exampleInputPassword1" style="background-color:#FDF5F2;">
                                                <div id="emailHelp" class="form-text">Use only the keyboard.</div>
                                            </div>
                                            <div class="mb-3 form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer" style="background-color:#DF3F00;">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:#000000;">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-button d-xl-block d-none">
                            <a href="reservations.html" class="main-btn btn-red">Book a Table<i class="fas fa-long-arrow-right"></i></a>
                        </div>
                        <div class="navbar-toggler">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header><!--====== End Header ======-->