<!--=== Start Reservation Section ===-->
<section class="reservation-line-section p-r z-1 pt-130 pb-80">
    <div class="line-shape line-shape-one"><span><img src="assets/images/shape/line-1.png" alt="Shape"></span></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <!--=== Reservation Image Box ===-->
                <div class="reservation-image-box wow fadeInLeft mb-50 mb-20">
                    <img src="assets/images/contact/contact-1.jpg" alt="Reservation Image">
                </div>
            </div>
            <div class="col-lg-6">
                <!--=== Reservation Content Box ===-->
                <div class="reservation-content-box content-box-gap wow fadeInRight mb-50 pl-lg-70">
                    <div class="section-title section-title-left mb-20">
                        <span class="sub-title">Booking table</span>
                        <h2>Make A Reservations</h2>
                    </div>
                    <p>
                        Sit amet consectetur adipiscing elitsue risus mauris
                        adipiscing phasellus aene ante orcirat
                    </p>
                    <!--=== Reservation Form ===-->
                    <div class="reservation-style-one">
                        <form class="reservation-form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form_group">
                                        <label><i class="far fa-user"></i></label>
                                        <input type="text" class="form_control" placeholder="Person" name="number" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_group">
                                        <label><i class="far fa-calendar-alt"></i></label>
                                        <input type="text" class="form_control" id="datepicker" placeholder="Reserved Date" name="date" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_group">
                                        <select class="wide">
                                            <option data-display="Reservatiuon Time">Reservatiuon Time</option>
                                            <option value="01">12.00 Am</option>
                                            <option value="01">01.00 Am</option>
                                            <option value="01">02.00 Am</option>
                                            <option value="01">03.00 Am</option>
                                            <option value="01">05.00 Am</option>
                                            <option value="01">06.00 Am</option>
                                            <option value="01">07.00 Am</option>
                                            <option value="01">08.00 Am</option>
                                            <option value="01">09.00 Am</option>
                                            <option value="01">10.00 Am</option>
                                            <option value="01">11.00 Am</option>
                                            <option value="01">12.00 Pm</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_group">
                                        <button class="main-btn btn-red">book a table <i class="far fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--=== End Reservation Section ===-->