
@{
    ViewBag.Title = "_category";
}

<section class="category-bg-section pt-70 pb-80 p-r z-1" style="background-image: url('Content/images/bg/category-bg-1.jpg');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-10">
                <!--=== Section Title ===-->
                <div class="section-title text-center text-white mb-50 wow fadeInDown">
                    <span class="sub-title">Our Popular Food</span>
                    <h2>Best Category Foods Menu</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!--=== Single Category Item ===-->
                <div class="single-category-item mb-30 wow fadeInUp">
                    <div class="icon">
                        <img src="~/Content/images/icon/icon-1.png" alt="thumb icon">
                    </div>
                    <div class="content d-flex">
                        <h3 class="title"><a href="menu-fastfood.html">Pizza</a></h3>
                        <a href="menu-fastfood.html" class="icon-btn"><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!--=== Single Category Item ===-->
                <div class="single-category-item mb-30 wow fadeInUp">
                    <div class="icon">
                        <img src="~/Content/images/icon/icon-2.png" alt="thumb icon">
                    </div>
                    <div class="content d-flex">
                        <h3 class="title"><a href="menu-fastfood.html">Burger</a></h3>
                        <a href="menu-fastfood.html" class="icon-btn"><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!--=== Single Category Item ===-->
                <div class="single-category-item mb-30 wow fadeInUp">
                    <div class="icon">
                        <img src="~/Content/images/icon/icon-3.png" alt="thumb icon">
                    </div>
                    <div class="content d-flex">
                        <h3 class="title"><a href="menu-fastfood.html">Bread</a></h3>
                        <a href="menu-fastfood.html" class="icon-btn"><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!--=== Single Category Item ===-->
                <div class="single-category-item mb-30 wow fadeInUp">
                    <div class="icon">
                        <img src="~/Content/images/icon/icon-4.png" alt="thumb icon">
                    </div>
                    <div class="content d-flex">
                        <h3 class="title"><a href="menu-seafood.html">Seafoods</a></h3>
                        <a href="menu-seafood.html" class="icon-btn"><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!--=== Single Category Item ===-->
                <div class="single-category-item mb-30 wow fadeInUp">
                    <div class="icon">
                        <img src="~/Content/images/icon/icon-5.png" alt="thumb icon">
                    </div>
                    <div class="content d-flex">
                        <h3 class="title"><a href="menu-fastfood.html">Coffee</a></h3>
                        <a href="menu-fastfood.html" class="icon-btn"><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!--=== Single Category Item ===-->
                <div class="single-category-item mb-30 wow fadeInUp">
                    <div class="icon">
                        <img src="~/Content/images/icon/icon-6.png" alt="thumb icon">
                    </div>
                    <div class="content d-flex">
                        <h3 class="title"><a href="menu-fastfood.html">Chicken</a></h3>
                        <a href="menu-fastfood.html" class="icon-btn"><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>