
@{
    ViewBag.Title = "_chef";
}

<section class="chefs-bg-section light-red-bg pt-130 pb-100 bg_cover p-r z-1">
    <div class="dot-bg bg_cover" style="background-image: url('Content/images/bg/dot-bg.png');"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-4 col-lg-12">
                <!--=== Chef Content Box ===-->
                <div class="chef-content-box content-box-gap mb-30 pr-lg-30 wow fadeInLeft">
                    <div class="section-title section-title-left mb-30">
                        <span class="sub-title">Best food menu</span>
                        <h2>
                            Meet Our Exclusive
                            & Master Chefs
                        </h2>
                    </div>
                    <ul class="check-style-one">
                        <li>
                            25 Years of Experience in Restaurant
                            Services in USA
                        </li>
                        <li>Any Kind Of Food Made For Customer and So Much Yamee $ Testy</li>
                    </ul>
                    <p>Our exclusive and master chefs are highly skilled culinary experts who are passionate about creating unique and delicious dishes using the freshest and highest quality ingredients. With years of experience in the industry, they have honed their craft and developed a keen sense of taste and creativity, allowing them to create visually stunning and flavorful meals.Come and discover the expertise of our exclusive and master chefs and embark on a culinary journey that will delight your taste buds.</p>
                    <a href="chefs.html" class="main-btn filled-btn">become a chef<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-12">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <!--=== Single Team Item ===-->
                        <div class="single-team-item mb-30 wow fadeInUp">
                            <div class="chef-img">
                                <img src="~/Content/images/team/chef-13.jpg" alt="Chef Image">
                                <div class="chef-overlay"></div>
                                <div class="hover-content">
                                    <h3 class="title">Sveta Rusaia</h3>
                                    <p class="position">Senior Chef</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <!--=== Single Team Item ===-->
                        <div class="single-team-item mb-30 wow fadeInUp">
                            <div class="chef-img">
                                <img src="~/Content/images/team/chef-12.jpg" alt="Chef Image">
                                <div class="chef-overlay"></div>
                                <div class="hover-content">
                                    <h3 class="title">Albert Sonok</h3>
                                    <p class="position">Senior Chef</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <!--=== Single Team Item ===-->
                        <div class="single-team-item mb-30 wow fadeInUp">
                            <div class="chef-img">
                                <img src="~/Content/images/team/chef-7.jpg" alt="Chef Image">
                                <div class="chef-overlay"></div>
                                <div class="hover-content">
                                    <<h3 class="title">Catrin Cry</h3>
                                    <p class="position">Senior Chef</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <!--=== Single Team Item ===-->
                        <div class="single-team-item mb-30 wow fadeInUp">
                            <div class="chef-img">
                                <img src="~/Content/images/team/chef-8.jpg" alt="Chef Image">
                                <div class="chef-overlay"></div>
                                <div class="hover-content">
                                    <h3 class="title">Andoi Lector</h3>
                                    <p class="position">Senior Chef</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <!--=== Single Team Item ===-->
                        <div class="single-team-item mb-30 wow fadeInUp">
                            <div class="chef-img">
                                <img src="~/Content/images/team/chef-9.jpg" alt="Chef Image">
                                <div class="chef-overlay"></div>
                                <div class="hover-content">
                                    <h3 class="title">Leeroy Jenkins</h3>
                                    <p class="position">Senior Chef</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <!--=== Single Team Item ===-->
                        <div class="single-team-item mb-30 wow fadeInUp">
                            <div class="chef-img">
                                <img src="~/Content/images/team/chef-10.jpg" alt="Chef Image">
                                <div class="chef-overlay"></div>
                                <div class="hover-content">
                                    <h3 class="title">Mamuchi Alista</h3>
                                    <p class="position">Senior Chef</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>