
@{
    ViewBag.Title = "_working";
}

<section class="working-bg-section pt-130 pb-110 p-r z-1">
    <div class="hours-bg bg_cover" style="background-image: url('Content/images/bg/hours-bg-1.png');"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <!--=== Working Content Box ===-->
                <div class="working-content-box wow fadeInLeft">
                    <div class="section-title section-title-left mb-50">
                        <span class="sub-title">Working hour</span>
                        <h2>Enjoy Our Foods From 6 Days In a Week</h2>
                    </div>
                    <div class="single-hour-box mb-20">
                        <h4 class="title">Monday - Friday <span class="dot-border"></span><span class="time">09am-6pm</span></h4>
                    </div>
                    <div class="single-hour-box mb-20">
                        <h4 class="title">Saturday<span class="dot-border"></span><span class="time">08am-7pm</span></h4>
                    </div>
                    <div class="single-hour-box mb-20">
                        <h4 class="title">Sunday<span class="dot-border"></span><span class="time">Closed</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>