@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<!--====== Start Shopping Cart Section ======-->
<section class="cart-page pt-125 pb-125">
    <div class="container">
        <div class="cart-total-product">
            <div class="total-cart-price">
                <h5>Total Items: 4</h5>
                <h5>Cart Total: $510</h5>
            </div>
            <div class="cart-item-wrap">
                <div class="alert fade show cart-single-item">
                    <h6 class="product-name">Baked Chicken Wings Asian Tomatoes</h6>
                    <span class="product-price">$70</span>
                    <div class="quantity-input">
                        <input type="number" min="1" max="10" value="1">
                    </div>
                    <span class="avilable"><i class="
                                              
                                              fa-check"></i> In Stock</span>
                    <span class="product-total-price">$70</span>
                    <button type="button" class="close" data-bs-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="alert fade show cart-single-item">
                    <h6 class="product-name">Red Alaskan King Sea Crab</h6>
                    <span class="product-price">$120</span>
                    <div class="quantity-input">
                        <input type="number" min="1" max="10" value="1">
                    </div>
                    <span class="avilable"><i class="fa fa-check"></i> In Stock</span>
                    <span class="product-total-price">$360</span>
                    <button type="button" class="close" data-bs-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="alert fade show cart-single-item">
                    <h6 class="product-name">Pizza With Seafood Italian Foods</h6>
                    <span class="product-price">$10</span>
                    <div class="quantity-input">
                        <input type="number" min="1" max="10" value="1">
                    </div>
                    <span class="avilable"><i class="fa fa-check"></i> In Stock</span>
                    <span class="product-total-price">$20</span>
                    <button type="button" class="close" data-bs-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="alert fade show cart-single-item">
                    <h6 class="product-name">Footlong Submarine Sandwich</h6>
                    <span class="product-price">$20</span>
                    <div class="quantity-input">
                        <input type="number" min="1" max="10" value="1">
                    </div>
                    <span class="avilable"><i class="fa fa-check"></i> In Stock</span>
                    <span class="product-total-price">$60</span>
                    <button type="button" class="close" data-bs-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                </div>
            </div>
        </div>

        <div class="cart-total-price mt-40">
            <div class="row justify-content-end text-center text-lg-left">
                <div class="col-lg-6">
                    <div class="update-shopping text-lg-end">
                        <a href="products.html" class="main-btn btn-black mt-10">update cart<i class="fa fa-arrow-right"></i></a>
                        <a href="checkout.html" class="main-btn btn-red mt-10">checkout<i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Shopping Cart Section ======-->