@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<!--====== Start Checkout Section ======-->
<section class="checkout-page pt-125 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form id="checkout-form" name="checkout_form" class="contact-form-one rmb-35" action="#" method="POST">
                    <h3 class="from-title mb-25">Order Conformation</h3>
                    <hr>
                    <div class="row mt-35">
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="first-name" name="first-name" class="form_control" value="" placeholder="First Name" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="last-name" name="last-name" class="form_control" value="" placeholder="Last Name" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="number" name="number" class="form_control" value="" placeholder="Phone Number" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="email" id="emailAddress" name="email" class="form_control" value="" placeholder="Email Address" required="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="company-name" name="company-name" class="form_control" value="" placeholder="Company name (optional)">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="company-address" name="company-address" class="form_control" value="" placeholder="Company Address (optional)">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <h5 class="mb-15">Your Address</h5>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="country" name="country" class="form_control" value="" placeholder="Country" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="city" name="city" class="form_control" value="" placeholder="City" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="state" name="state" class="form_control" value="" placeholder="State" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="zip" name="zip" class="form_control" value="" placeholder="Zip" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="street-name" name="street-name" class="form_control" value="" placeholder="House, street name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_group">
                                <input type="text" id="apartment-name" name="apartment-name" class="form_control" value="" placeholder="Apartment, suite, unit etc. (optional)">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <h5 class="mb-15">Order Notes (optional)</h5>
                        </div>
                        <div class="col-md-12">
                            <div class="form_group">
                                <textarea name="order-note" id="order-note" class="form_control" rows="5" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <form id="payment-method" name="payment-method" class="checkout-form mb-30" action="#" method="POST">
                    <h3 class="from-title mb-25">Order Summary</h3>
                    <hr>
                    <div class="package-summary mt-35 mb-25">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Red Alaskan King <strong>× 2</strong></td>
                                    <td>$303.00</td>
                                </tr>
                                <tr>
                                    <td>Pizza With Seafood <strong>× 2</strong></td>
                                    <td>$70.00</td>
                                </tr>
                                <tr>
                                    <td>Footlong Submarine <strong>× 1</strong></td>
                                    <td>$50.00</td>
                                </tr>
                                <tr>
                                    <td>Shipping Fee</td>
                                    <td>$10.00</td>
                                </tr>
                                <tr>
                                    <td>Vat</td>
                                    <td>$5.00</td>
                                </tr>
                                <tr>
                                    <td><strong>Order Total</strong></td>
                                    <td><strong>$438.00</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <input class="form_control" type="text" placeholder="Coupon Code">
                    <h5 class="title mt-20 mb-15">Payment Method</h5>
                    <div class="form_group">
                        <select class="form_control" name="payment" id="payment">
                            <option value="default">Choose an Option</option>
                            <option value="payment1">chash on delivey</option>
                            <option value="payment2">Bank Transfer</option>
                            <option value="payment3">Paypal</option>
                        </select>
                    </div>
                    <button type="submit" class="main-btn btn-red mt-25 w-100">Proceed to Payment</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!--====== End Checkout Section ======-->