@{
    ViewBag.Title = "Err404";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<section class="error-page-area pt-130 pb-130 p-r z-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="error-content text-center wow fadeInUp">
                    <h2>OOPS! This Page are Can’t Be Found</h2>
                    <!-- <p>Sit amet consectetur adipiscing elit. Et id purus sem morbi. Integer a sollicitudin ac eget sed consectetur et nam. Elementum eu egestas faucibus bibendum aliquetesy ullamcorper quis aliquet lorem. Mor phasellus dictum tellus</p> -->
                    <a href="index.html" class="main-btn btn-red">go to home<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Error Page Section ======-->