@{
<<<<<<< HEAD
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
=======
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
>>>>>>> 415d00d49a676c10b475f404aa7e127c74231e06
