<section class="partners-section light-red-bg pt-60 pb-60">
    <div class="container">
        <!--=== Partners Slider ===-->
        <div class="partner-slider-one wow fadeInDown">
            <div class="single-partner-item">
                <div class="partner-img">
                    <a href="#"><img src="~/Content/images/partners/partner-1.png" alt="Partner Image"></a>
                </div>
            </div>
            <div class="single-partner-item">
                <div class="partner-img">
                    <a href="#"><img src="~/Content/images/partners/partner-2.png" alt="Partner Image"></a>
                </div>
            </div>
            <div class="single-partner-item">
                <div class="partner-img">
                    <a href="#"><img src="~/Content/images/partners/partner-3.png" alt="Partner Image"></a>
                </div>
            </div>
            <div class="single-partner-item">
                <div class="partner-img">
                    <a href="#"><img src="~/Content/images/partners/partner-4.png" alt="Partner Image"></a>
                </div>
            </div>
            <div class="single-partner-item">
                <div class="partner-img">
                    <a href="#"><img src="~/Content/images/partners/partner-5.png" alt="Partner Image"></a>
                </div>
            </div>
            <div class="single-partner-item">
                <div class="partner-img">
                    <a href="#"><img src="~/Content/images/partners/partner-6.png" alt="Partner Image"></a>
                </div>
            </div>
            <div class="single-partner-item">
                <div class="partner-img">
                    <a href="#"><img src="~/Content/images/partners/partner-4.png" alt="Partner Image"></a>
                </div>
            </div>
        </div>
    </div>
</section>